* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  
  background-image: linear-gradient(
      to bottom right,
      rgba(74, 91, 109, 0),
      rgba(74, 91, 109, 1)
    ),
    url(./images/virender-singh-hE0nmTffKtM-unsplash.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

header {
  margin: 0 auto;
  padding:0 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
}

.list-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:4rem;
}
.logo img {
  height: 4.2rem;
}

.list-item a{
  font-size: 1.6rem;
  text-decoration: none;
  color:#fff;
}


.button-group {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-group ion-icon {
  font-size: 30px;
  color: #fff;
}

.details p {
  font-size: 1.6rem;
  color: #fff;
}

.details a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}

nav > *:not(:first-child) {
  border-bottom: 3px solid #fff;
}

.hero-section {
  margin: 0 auto;
  padding: 7.6rem 0;
}
 
  
.hero{
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.left-side{
  display: flex;
  flex-direction: column;
  gap:4rem;
}
.heading {
  color: #fff;
  font-size: 7.2rem;
  /* padding-right: 50%; */
}

.button {
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 2rem 4rem;
  margin-right:auto;
  font-size: 1.6rem;
  font-weight: 700;
  color:#fff;
  background-color: transparent;
}

.cards{
  display: grid;
  gap:8rem;
}

.card{
  width: 20rem;;
  padding:2rem 4rem;
  background-color: rgba(240, 248, 255, 0.1);
  position: relative;

}
.card ion-icon {
  font-size: 2rem;
  border: 1px solid;
  border-radius: 40px;
  background-color: #fff;
  padding:1rem 3rem;
}

.card p {
  font-size: 1.6rem;
  margin-top: 5px;
  color: #fff;
  font-weight: 600;
}

.card::after{
  content:'';
  position:absolute;
  height:5rem;
  width:10rem;
}

.card::before{
  content:'';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.card1::after{
  border-left:2px solid #fff;
  bottom:-40%;
  left:50%;
}
.card1::before{
  bottom:-50%;
  left:47%;
}

.card2::after{
  border-top:2px solid #fff;
  bottom:10%;
  right:-35%;
}
.card2::before{
  bottom:42%;
  right:-38%;
}


 /**************************/
/* VIEW BELOW 544px (Phones) */
/* 16px * 34 = 544px  */
/**************************/

@media (max-width:34em){
  body{
    background-size: cover;
    background-position: top;
  }
  .list-items{
    /*Hide navigation */
    display: none;
  }

  .hero{
    display: flex;
    flex-direction: column-reverse;;
    align-items: center;
    justify-content: center;
    gap:6rem;
  }
  .left-side{
    text-align: center;
  }
  button{
    margin:0 auto;
  }
}